<script>
  $(function(){


        $("#typer1").typed({
            strings: ["You start a story by writing the first sentence"],
            startDelay: 1000,
            typeSpeed: 10,
            contentType: 'html',
            cursorChar: "",
            onStringTyped: function() {
            }
        });

      

        $("#typer2").typed({
            strings: ["Others continue the story by adding one sentence at a time"],
            startDelay: 5000,
            typeSpeed: 10,
            contentType: 'html',
            cursorChar: "",
            onStringTyped: function() {
                $("#typer1").animate({opacity: 0}, 2000);
            }

        });

        $("#typer3").typed({
            strings: ["But there’s a catch"],
            startDelay: 10500,
            typeSpeed: 10,
            contentType: 'html',
            cursorChar: "",
            onStringTyped: function() {
                $("#typer2").animate({opacity: 0}, 2000);
            }

        });

        $("#typer4").typed({
            strings: ["You only see the last sentence in the story at any given time"],
            startDelay: 13000,
            typeSpeed: 10,
            contentType: 'html',
            cursorChar: "",
            onStringTyped: function() {
                $("#typer3").animate({opacity: 0}, 2000);
            }

        });

        $("#typer5").typed({
            strings: ["The end result?"],
            startDelay: 19500,
            typeSpeed: 10,
            contentType: 'html',
            cursorChar: "",
            onStringTyped: function() {
                $("#typer4").animate({opacity: 0}, 2000);
            }

        });

        $("#typer6").typed({
            strings: ["A crazy narrative that transcends the limits of imagination! "],
            startDelay: 22000,
            typeSpeed: 10,
            contentType: 'html',
            cursorChar: "",
            onStringTyped: function() {
                $("#typer5").animate({opacity: 0}, 2000);
            }

        });

        $("#typer7").typed({
            strings: ["Experience new-age collaborative storytelling^1500, with a twist"],
            startDelay: 27000,
            typeSpeed: 10,
            contentType: 'html',
            cursorChar: "",
            onStringTyped: function() {
                $("#typer6").animate({opacity: 0}, 2000, function() {
                    $("#typer7").animate({top: "-=80px"}, 2000);    
                });
                
            }

        });
      
  });


</script>

<div class="about">
    <h2 class='about-welcome-title'>Welcome to <span class='about-authorific-title'>Authorific</span>!</h2>
    <div layout="column">
    	<div layout="row"><br><br><br></div>
	    <div layout="row" class="about-point">
	        <div flex="10"></div>
	        <div layout="row" layout-sm='column' layout-align-sm='start center' layout-align="space-around start" flex="80">

				<h3>
	            <div>
	            	<div class="typer" id="typer1"></div>
	            	<div class="typer" id="typer2"></div>
	            	<div class="typer" id="typer3"></div>
	            	<div class="typer" id="typer4"></div>
	            	<div class="typer" id="typer5"></div>
	            	<div class="typer" id="typer6"></div>
                    <div class="typer" id="typer7"></div>
	            	
	            
	            
	            </div>	
	            <br>
	        </div>
	        <div flex="10"></div>
	    </div>
	</div>

</div>
