<div layout="row" layout-fill layout-padding>
  <div flex='25'></div>
  <div flex="50" layout="column" layout-align="center start">
    <div layout="column" class="stories-container" ng-repeat="story in stories">
      <!-- Toolbar ontop of every story -->
      <md-toolbar class="md-primary md-hue-1">
        <div layout="row" class="md-toolbar-tools">
          <authorific-user-badge username = {{story.creator.name}} profile-picture = {{story.creator.profilePicture}}></authorific-user-badge>

          <!-- Act as a pull right-->
          <span hide-md flex></span>
          <div layout="row" layout-align="start center" hide-md hide-sm>
            <!-- Interactions for stories-->
            <md-button class="md-icon-button" aria-label="Settings">
              <i class="fa fa-thumbs-o-up"></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <i class="fa fa-share"></i>
            </md-button>
            <md-button  ng-click= "favorite = !favorite;" class="md-icon-button" aria-label="Settings">
              <i ng-class="favorite ? 'fa fa-star' : 'fa fa-star-o'"></i>

            </md-button>
            <md-button class="md-icon-button" aria-label="Settings" ng-click="alternateStoryView[$index] = !alternateStoryView[$index]">
              <i class="fa fa-exchange"></i>
            </md-button>
          </div>
        </div>
      </md-toolbar>

      <md-toolbar show-md hide-gt-md class="md-primary md-hue-1">
        <div layout="row" class="md-toolbar-tools">

          <!-- Interactions for stories-->
          <md-button class="md-icon-button" aria-label="Settings">
            <i class="fa fa-thumbs-o-up"></i>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <i class="fa fa-share"></i>
          </md-button>
          <md-button  ng-click= "favorite = !favorite;" class="md-icon-button" aria-label="Settings">
            <i ng-class="favorite ? 'fa fa-star' : 'fa fa-star-o'"></i>

          </md-button>
          <md-button class="md-icon-button" aria-label="Settings" ng-click="alternateStoryView[$index] = !alternateStoryView[$index]">
            <i class="fa fa-exchange"></i>
          </md-button>
        </div>
      </md-toolbar>

      <!-- Content in story-->
      <div layout="column" layout-align="start start">
        <h1 class="story-title">{{story.title}}</h1>
      <!-- Normal view-->
        <md-content ng-if="!alternateStoryView[$index]"> 
          <div>
            <span class="original-story-view-text story-font" ng-repeat="content in story.content">
              {{content.text}}
            </span>
          </div>
          <md-list class="fixedRows">
            <h4>Co-authors</h4>
            <md-list-item class="md-2-line coauthor-list-item" ng-repeat="content in story.content">
              <img ng-src="{{content.author.profilePicture}}" class="md-avatar" alt="{{content.author.name}}" />
              <div class="md-list-item-text compact">
                <h3>{{content.author.name}}</h3>
              </div>
            </md-list-item>
          </md-list>

        </md-content>
        <!-- Alternate view-->
        <md-content ng-if="alternateStoryView[$index]"> 
          <md-list>
            <md-list-item class="md-3-line alternate-story-view" ng-repeat="content in story.content">
              <img ng-src='{{content.author.profilePicture}}' alt='PP'>
              <div class="md-list-item-text">
                <h3 class="alternate-story-view-text story-font">{{content.text}}</h3>
              </div>
              <md-divider md-inset ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
        <md-content style="width:100%">
        <form>
          <br><h4>Your Submission</h4><br>
          <md-input-container md-no-float flex>
            Enter your sentence here
            <textarea class="story-font" style="border: none; outline: none; box-shadow: none; border-bottom: 1px solid black; width: 90%; font-size: 1.2em;" ng-model="post" md-maxlength="250" ></textarea>
          </md-input-container>
          <md-input-container>
          
          <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="anonymous" class="md-primary">
                Post anonymously
          </md-checkbox>        
          <md-button class="md-raised" style="float: right;" ng-click="submit()">Submit</md-button>
        </form>
        </md-content>
      </div>


    </div>
  </div>

  <div layout="column" flex='25' layout-fill>
    <!-- Side bar for tagging purposes done later-->

    <div class="authorific-always-on-sidebar right-sidebar" layout="column">
      WHY U NO ALIGN
    </div>
    
  </div>

</div>
