<div layout="row" layout-fill layout-padding>
  <div flex='25' hide-sm hide-md></div>

  <md-card flex="50" flex-sm="100" flex-md="100" layout="column" layout-align="center start">
    <div layout="column" class="create-container">
    <h1 class="story-title">Create a story</h1>
      <md-content>
        <form ng-submit="submit(title, story)">
          <md-input-container flex>
            <label class='small-print'>Title</label>
            <input class="story-font" ng-model="title" md-maxlength="50" required/>
          </md-input-container>

          <md-input-container flex class="remove-bottom-padding">
            <label class='small-print'>Start your story...</label>
            <textarea ng-model="story" md-maxlength="180" class="comment-input story-font" columns="1" row='2' required></textarea>
          </md-input-container>

          <div layout="row" layout-align='start center'>
            <div flex="15">
              <span class="md-body-1">Max. posts</span>
            </div>
            <md-slider flex min="2" max="50" ng-model="postLimit" aria-label="red" id="red-slider" class></md-slider>
            <div flex="10" layout layout-align='end end'>
              <span class="md-body-1">{{postLimit}}</span>
            </div>
          </div>
          <div layout="row" layout-sm='column'>

            <div layout='row' layout-align='start center'>
              <md-switch class='md-primary' md-no-ink ng-model="isAnonymous" aria-label="Switch">
              </md-switch>
              <span class='small-print padding-right'>Post as:</span>   
              <i ng-if='isAnonymous'class="fa fa-user"></i>
              <img class='authorific-user-icon-picture' ng-if='!isAnonymous' ng-src="{{user.facebookInformation.picture.data.url}}" alt="{{user.facebookInformation.name}}">
              <span class='small-print padding-left'>{{isAnonymous ? 'Anonymous' : user.facebookInformation.name}}</span>
            </div>
            
            <span hide-sm flex></span>

            <div layout='row'>
              <span flex hide-md hide-lg></span>
              <md-button type='button' ng-click='showFilePicker()'>Upload picture</md-button>
              <input id='file-input' type="file" img-cropper-fileread image="cropper.sourceImage" style='display:none;' ng-model='cropper.sourceImage' accept='image/*'/>

              <md-button class='md-raised' style="width: 5em;" type="submit" ng-disabled='disableSubmit'><span class='bold-hot-pink-wow'>Submit</span></md-button>
            </div>
          </div>
        </form>
        <div layout='column' layout-align='start start' ng-show="croppedImage!=null">
          <span class='small-print'>Preview</span><br>
          <!-- Directive for picture modal-->
          <authorific-picture-modal image ='{{croppedImage}}'></authorific-picture-modal>
        </div>
      </md-content>
    </div>
  </md-card>

  <div flex='25' hide-sm hide-md></div>

</div>