<div layout="row" layout-fill layout-padding>
  <div flex='25' hide-sm hide-md></div>
  <div flex="50" flex-sm="100" flex-md="100" layout="column" layout-align="center start" infinite-scroll='loadMoreStories();' infinite-scroll-disabled='stopInfiniteScroll' infinite-scroll-immediate-check='true'>

    <md-card hide-sm id="welcome-story" class="stories-container" ng-if="!userAuthenticated && showWelcome">
      <h3 class='welcome-title'>Welcome to <span class='authorific-title'>Authorific</span>!</h3>
      <md-divider class='divider-margin'></md-divider>
      <div layout="row" layout-sm='column' layout-align-sm='start center' layout-align="space-around start">
        <div layout="column">
          <div layout='column' layout-align='center center' class="circle">
            <div layout='column' layout-align='center center' class="red-circle inner-circle animated" ng-click='transitionHideClass[0] = "bounceOutUp"; hideWelcomeToolTip[0] = true;' ng-class='transitionHideClass[0]'>
              <img class="circle-icon" src="/img/icons/read.png">
            </div>
            <div layout='column' layout-align='center center' class='hidden-message'>
              <span><b>Scroll</b> down to start reading!</span>
            </div>
          </div>
          <div class="action">Read</div>
          <md-tooltip ng-if='!hideWelcomeToolTip[0]' md-direction='top'>
            Click to find out more!
          </md-tooltip>
        </div>
        <div layout="column">
          <div layout='column' layout-align='center center' class="circle">
            <div layout='column' layout-align='center center' class="blue-circle inner-circle animated" ng-click='transitionHideClass[1] = "bounceOutUp"; hideWelcomeToolTip[0] = true;' ng-class='transitionHideClass[1]'>
              <img class="circle-icon" src="/img/icons/write.png">
            </div>
            <div layout='column' layout-align='center center' class='hidden-message'>
              <span>Sign in to <b>create</b> your own stories!</span>
            </div>
          </div>
          <div class="action">Write</div>
          <md-tooltip ng-if='!hideWelcomeToolTip[1]' md-direction='top'>
            Click to find out more!
          </md-tooltip>
        </div>
        <div layout="column">
          <div layout='column' layout-align='center center' class="circle">
            <div layout='column' layout-align='center center' class="green-circle inner-circle animated" ng-click='transitionHideClass[2] = "bounceOutUp"; hideWelcomeToolTip[0] = true;' ng-class='transitionHideClass[2]'>
              <img class="circle-icon" src="/img/icons/collaborate.png">
            </div>
            <div layout='column' layout-align='center center' class='hidden-message'>
              <span><b>Write</b> a story with your friends!</span>
            </div>
          </div>
          <div class="action">Collaborate</div>
          <md-tooltip ng-if='!hideWelcomeToolTip[2]' md-direction='top'>
            Click to find out more!
          </md-tooltip>
        </div>
      </div>
      <md-divider class='divider-margin'></md-divider>
      <div layout="row" layout-sm="column" layout-align='start center'>
        <span flex hide-sm></span>
        <md-button class="facebook-blue md-no-ink" ng-click="facebookLogin()"><i class='fa fa-facebook inverse-facebook'></i>  Sign in</md-button>
        <md-button ng-click="hideWelcome()">Maybe later</md-button>
      </div>
    </md-card>

    <md-card layout="column" class="stories-container" ng-repeat="story in stories">
      <ng-include src="'/views/component/story-template.html'"></ng-include>
    </md-card>

  </div>

  <div layout="column" flex='25' hide-sm hide-md hide layout-fill>
    <!-- Side bar for tagging purposes done later-->
    <div class="authorific-always-on-sidebar right-sidebar" layout="column">
    </div>
  </div>
</div>
