<div layout="row" layout-fill layout-padding>
  <div flex='25' hide-sm hide-md></div>
  <div flex="50" flex-sm="100" flex-md="100" layout="column" layout-align="center start" infinite-scroll='loadMoreOngoing();' infinite-scroll-disabled='stopInfiniteScroll'>
    <md-card layout="column" class="stories-container" ng-repeat="story in stories">
      <ng-include src="'/views/component/ongoing-story-template.html'"></ng-include>
    </md-card>
  </div>
  <div layout="column" flex='25' hide-sm hide-md layout-fill></div>
</div>