<div layout='column'> 
  <div layout='row' layout-align='start center'>
    <div layout='column'>
      <h3 class='story-title'>{{story.title}}</h3>
      <div layout='row' layout-align='start center'>
        <span class='small-print padding-right'>Started by</span>
        <!-- If have facebook information-->
        <authorific-user-badge ng-if='story.facebookInformation !== undefined'
          username='{{story.User.facebookUserId === user.facebookUserId ? "You" : story.facebookInformation.name}}' 
          profile-picture='{{story.facebookInformation.picture.data.url}}'>
        </authorific-user-badge>

        <!-- If no facebook information-->
        <div layout='row' layout-align='start center' ng-if='story.facebookInformation === undefined' class='small-print'>
          <i class='authorific-anonymous-icon fa fa-user'></i>
          <span>Anonymous</span>
        </div>
      </div>
    </div>

    <span flex></span>

    <div class='progress-wrapper'>
      <div class="progress-text">{{story.recentPost.postNumber}}/{{story.maxPost}}</div>
      <div
        round-progress
        max= 'story.maxPost'
        current= 'story.recentPost.postNumber'
        color="#ff4081"
        bgcolor="#eaeaea"
        radius="30"
        stroke="7">
      </div>
      <md-tooltip md-visible="showProgressTooltip[$index]" md-direction='left'>
        {{story.recentPost.postNumber}}/{{story.maxPost}} of the story is completed
      </md-tooltip>
    </div>  
    
  </div>

  <!-- Directive for picture modal-->
  <div layout='row'>
    <authorific-picture-modal image ='{{story.imageUrl}}'></authorific-picture-modal>
    <span flex></span>
  </div>
  
  <md-divider class='divider-margin'></md-divider>

</div>
<p class="story-font story-format" ng-hide='showEdit[$index]'>
  <span ng-if="story.recentPost.postNumber > 1">... </span>{{story.recentPost.content}} ...
</p>

<md-divider class='divider-margin' ng-hide='showEdit[$index]'></md-divider>

<!--If the user can make a post-->
<div layout='column' ng-if = 'story.canPost'>

  <div ng-show='!story.confirmFinish'>
    <div layout='row' layout-align='start center' >
      <md-switch md-no-ink ng-init='postAnonymously[story.id] = false' ng-model='postAnonymously[story.id]' aria-label="Switch">
      </md-switch>
      <span class='small-print padding-right'>Post as:</span>   
      <i ng-if='postAnonymously[story.id]'class="fa fa-user"></i>
      <img class='authorific-user-icon-picture' ng-if='!postAnonymously[story.id]' ng-src="{{user.facebookInformation.picture.data.url}}" alt="{{user.facebookInformation.name}}">
      <span class='small-print padding-left'>{{postAnonymously[story.id] ? 'Anonymous' : user.facebookInformation.name}}</span>
    </div>
    
    <form ng-submit="createPost($index, $event, story.id, postModel[story.id], story.recentPost.postNumber, postAnonymously[story.id])">
      <div layout='row' layout-align='start end'>
        
        <md-input-container flex class="remove-bottom-padding">
          <label class='small-print-no-black'>{{story.maxPost === story.recentPost.postNumber + 1 ? 'Wrap up' : 'Continue'}} the story here...</label>
          <textarea ng-model="postModel[story.id]" md-maxlength="180" class="comment-input story-font" columns="1" row='2' required></textarea>
        </md-input-container>
        <div layout='row' hide-sm>
          <md-button aria-label="Settings" flex="10" type="submit">
            Post
            <md-tooltip md-direction='top'>
              Continue the story!
            </md-tooltip>
          </md-button>
          <md-button ng-if='story.User.facebookUserId === user.facebookUserId' ng-click='finishStoryConfirmation(story, postModel[story.id], postAnonymously[story.id])' class="md-raised" aria-label="Settings" flex="10" type='button'>
            <span class='bold-hot-pink-wow'>Publish</span>
            <md-tooltip md-direction='top'>
              Wrap up with or without a last post and publish the story now!
            </md-tooltip>
          </md-button>
        </div>
      </div>


      <div layout='row' hide-gt-sm>
        <span flex hide-gt-sm></span>
        <md-button aria-label="Settings" flex="10" type="submit">
          Post
          <md-tooltip md-direction='top'>
            Continue the story!
          </md-tooltip>
        </md-button>
        <md-button ng-if='story.User.facebookUserId === user.facebookUserId' ng-click='finishStoryConfirmation(story, postModel[story.id], postAnonymously[story.id])' class="md-raised" aria-label="Settings" flex="10" type='button'>
          <span class='bold-hot-pink-wow'>Publish</span>
          <md-tooltip md-direction='top'>
            Wrap up with or without a last post and publish the story now!
          </md-tooltip>
        </md-button>
      </div>
    </form>
  </div>

  <!--Confirmation for finishing a story-->
  <div layout='column' ng-show='story.confirmFinish'>
    <span class='small-print'>
      <i class="fa fa-exclamation-triangle"></i>
       Are you sure you want to finish this story {{story.noLastPost ? 'without a last post' : 'with your last post'}}?
    </span>
    <div layout='row'>
      <md-button ng-click='finishStory(story, $index)' aria-label="Settings" flex="10">
        Yes
      </md-button>
      <md-button ng-click='goBackToPost(story)' aria-label="Settings" flex="10">
        No
      </md-button>
    </div>
  </div>
</div>

<!--If the user can delete a post-->
<div layout='column' ng-if = '!story.canPost'>
  <div layout='column' ng-hide='hideChoice[$index]'>
    <span class='small-print'><i class="fa fa-exclamation-triangle"></i> You are the latest contributor to this story</span>
    <div layout='row'>
      <!--Choice to edit or delete -->
      <md-button ng-click='goToEdit($index)'><i class='fa fa-pencil'></i> Edit</md-button>
      <div>
        <md-button ng-disabled='story.recentPost.postNumber <= 1' ng-hover='showDeleteTooltip[$index] = true;' ng-click='goToDelete($index)'><i class='fa fa-trash-o'></i> Delete</md-button>
        <md-tooltip ng-if='story.recentPost.postNumber === 1' md-visible="showDeleteTooltip[$index]" md-direction='right'>
          Cannot delete the first post!
        </md-tooltip>
      </div>

    </div>
  </div>

  <form layout-sm='column' ng-submit="editPost($index, $event, story.id, editModel[story.id], story.recentPost.postNumber)" ng-init="editModel[story.id] = story.recentPost.content">
    <div layout='row' layout-align='start end' ng-if='showEdit[$index]'>  

      <md-input-container flex class="remove-bottom-padding">
        <label class='small-print-no-black'>{{story.maxPost === story.recentPost.postNumber + 1 ? 'Wrap up' : 'Continue'}} the story here...</label>
        <textarea ng-model="editModel[story.id]" md-maxlength="180" class="comment-input story-font" columns="1" row='2' required></textarea>
      </md-input-container>
      <div hide-sm>
        <md-button type="submit" aria-label="Settings" flex="10">
          Edit
        </md-button>
        <md-button type="button" ng-click='goBackToChoice($index)' aria-label="Settings" flex="10">
          Cancel
        </md-button>
      </div>
    </div>

    <div layout='row' ng-if='showEdit[$index]' hide-gt-sm>
      <span flex></span>
      <md-button type="submit" aria-label="Settings" flex="10">
        Edit
      </md-button>
      <md-button type="button" ng-click='goBackToChoice($index)' aria-label="Settings" flex="10">
        Cancel
      </md-button>
    </div>

  </form>

  <div layout='column' ng-if='showDelete[$index]'>
    <span class='small-print'><i class="fa fa-exclamation-triangle"></i> Are you sure you want to delete this post?</span>
    <div layout='row'>
      <md-button ng-click='deletePost($index, $event, story.id, story.recentPost.postNumber)' aria-label="Settings" flex="10">
        Yes
      </md-button>
      <md-button ng-click='goBackToChoice($index)' aria-label="Settings" flex="10">
        No
      </md-button>
    </div>
  </div>

</div>