<div layout="row" layout-fill layout-padding>
  <div flex='25' hide-sm hide-md></div>

  <md-card flex="50" flex-sm="100" flex-md="100" layout="column" layout-align="center start">
    <md-card-content class="story-font">
      <h2>Privacy Policy</h2>
      <p>This Privacy Policy describes how users’ personal information is handled in order to engage in the services available on our application. It applies generally to web pages where this policy appears in the footer. By accepting the Privacy Policy, you express consent to our collection, storage, use and disclosure of your personal information as described in this Privacy Policy. This Privacy Policy is effective upon acceptance for new users and is otherwise effective on August 12, 2015.</p>
      <br>
      <h4>Definitions</h4>
      <ul>
        <li>References to "Our", "We", "Us" and Authorific shall be references to Authorific.</li>
        <li>References to "You", "Users" and "Your" shall mean references to user(s) visiting this web site, as the context requires.</li>
      </ul>
      <br>
      <h4>Information Collection</h4>
      <p>Browsing our websites does not require your identities to be revealed. However, under the following circumstances, you are not anonymous to us.</p>
      <br>
      <h4>User</h4>
      <p>We will ask for your personal information. The personal information collected includes but not restricting to the following:</p>
      <ul>
        <li>Private information such as name and birthdate.</li>
        <li>Contact information such as email address, mobile number and physical address.</li>
        <li>Additional information which we may ask for if we believe the site policies are violated.</li>
      </ul>
      <p>Once you log into the account, your identity will be revealed to us.</p>
      <br>
      <h4>Information Usage</h4>
      <p>The primary purpose in collecting personal information is to provide the users with a smooth and customized experience.</p>
      <p>We will use the information collected for the following purposes:</p>
      <ul>
        <li>To provide its intended services</li>
        <li>To resolve disputes, and troubleshoot problems and errors</li>
        <li>To assist in law enforcement purposes and prevent/restrict the occurrences of potentially illegal or prohibited activities</li>
      </ul>
      <br>
      <h4>Disclosure of information</h4>
      <p>We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when:</p>
      <ul>
        <li>Permitted or required by law; or,</li>
        <li>Trying to protect against or prevent actual or potential fraud or unauthorized transactions; or,</li>
        <li>Investigating fraud which has already taken place.</li>
      </ul>
      <p>The information is not provided to these companies for marketing purposes.</p>
      <br>
      <h4>Usage of Cookies</h4>
      <p>Cookies are small files placed in your computer hard drives. We use it to analyse our site traffic. We have also used cookies to maintain your signed in status when you login to our websites.</p>
      <br>
      <h4>Commitment to Data Security</h4>
      <p>Your personally identifiable information is kept secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. All emails and newsletters from this site allow you to opt out of further mailings.</p>
      <br>
      <h4>Changes to the Policies</h4>
      <p>We reserved the rights to amend this Privacy Policy at any time. Upon posting of new policies, it will take immediate effect. We may notify you should there be any major changes to the policies.</p>
    </md-card-content>
  </md-card>

  <div flex='25' hide-sm hide-md></div>

</div>