<div layout='column'>
  <!--Top bar-->
  <div layout='row' layout-sm='column'>
    <div layout='column'>
      <!-- If have facebook information-->
      <authorific-user-badge
        username='{{story.User.facebookInformation.name}}' 
        profile-picture='{{story.User.facebookInformation.picture.data.url}}'
        status='{{story.publishedDate | date : "mediumDate"}}'>
      </authorific-user-badge>
      <h3 class='story-title'>{{story.title}}</h3>
    </div>

    <span flex hide-sm></span>
    <div layout-sm='row'>
      <!-- Directive for picture modal-->
      <authorific-picture-modal image ='{{story.imageUrl}}'></authorific-picture-modal>

      <span flex hide-lg hide-md></span>
    </div>
  </div>
  <md-divider class='divider-margin'></md-divider>

  <!--Only include authorific-show-more directive if state = 'home'-->
  
  <div layout='row'>

    <!--Story-->
    <p class="story-font story-format" ng-class='state === "home" ? "authorific-show-more" : ""'>
      <span ng-class='[post.User.colorClassHover ? post.User.colorClassHover : story.anonymous.colorClassHover, post.User ? (post.User.isHover ? post.User.colorClass : "") : (story.anonymous.isHover ? story.anonymous.colorClass : "")]' ng-repeat='post in story.Posts'>{{post.content}} </span>
    </p>

  </div>

  <md-divider class='divider-margin'></md-divider>

  <div layout='row' layout-align='start center' layout-sm='column'>

    <div class='padding-right'>
      <authorific-user-chip
        ng-repeat='coAuthor in story.coAuthors' 
        ng-init='coAuthor.isHover = false'
        ng-mouseenter='coAuthor.isHover = true'
        ng-mouseleave='coAuthor.isHover = false'
        username='{{coAuthor.facebookInformation.name}}' 
        profile-picture='{{coAuthor.facebookInformation.picture.data.url}}'
        color-class='{{coAuthor.colorClass ? coAuthor.colorClass : story.anonymous.colorClass}}'>
      </authorific-user-chip>
    </div>

    <span flex hide-sm></span>
    <md-divider class='divider-margin' hide-md hide-lg></md-divider>
    <!--Facebook button-->
    <div layout='row' layout-align='space-around center'>

      <md-button class="md-icon-button small-button"  aria-label="Settings">
      </md-button>

      <i ng-click= "likeStory(story)" class='social' ng-class="story.isLiked ? 'fa fa-heart liked-color' : 'fa fa-heart-o'">
        <md-tooltip>{{user === null ? 'Please login first' : 'Like this story'}}</md-tooltip>
      </i>
      <span class="social-text">{{story.likeCount}}</span>
      
      <i class="fa fa-comment social" ng-click="showComments(story)">
          <md-tooltip>{{user === null ? 'Please login first' : 'Toggle comments'}}</md-tooltip>
      </i>

      <span class="social-text">{{story.commentCount}}</span>

      <i class="fa fa-share-square-o social" ng-click="openShareDialog($event, story)">
        <md-tooltip>{{user === null ? 'Please login first' : 'Share this story on Facebook'}}</md-tooltip>
      </i>

    </div>



  </div>

  <div layout="column" ng-if='story.commentsVisible'>
    <h5 class='comment-header'>Comments</h5>
    <div ng-if='story.loadingComments'>
      <div layout="column" layout-align="center center">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>

    <md-divider class='divider-margin'></md-divider>

    <div ng-if='!story.loadingComments && story.comments.length !== 0' ng-repeat="comment in story.comments">
      <div layout="row">
        <img class='authorific-user-badge-picture' ng-src="{{comment.profile_picture}}" alt="{{comment.from.name}}">
        <div class='left-space' layout="column" layout-align="center start">
          <div layout='row'>
            <div class='small-print-name'>{{comment.from.name}}</div>
            <div ng-if='!isToday(comment.date)' class='small-print-date'>{{comment.date | date : "mediumDate"}}</div>
            <div class='left-space small-print-date' ng-if='isToday(comment.date)'>{{comment.date | date : "shortTime"}} today</div>
          </div>
          <p class="small-print">{{comment.message}}</p>
        </div>
      </div>
    </div>


    <div ng-if='!story.loadingComments'>
      <div layout="row" layout-align="center center">
        <md-button ng-click="openFacebookPost(story.facebookPostId)" class="md-raised">
          <span class='bold-hot-pink-wow'>{{story.commentCount === 0 ? 'No comments yet, Be the first!' : 'View on Facebook'}}</span>
        </md-button>
      </div>
    </div>
  </div>
</div>