<div layout="row" layout-fill layout-padding>
  <div flex='25' hide-sm hide-md show-gt-md ></div>
  <div flex="50" flex-sm='100' flex-md='100' layout="column" layout-align="start center">
    <md-card class="stories-container" ng-if="!storyExist">
      Sorry, the story does not exist.
    </md-card>
    <md-card layout="column" class="stories-container" ng-if='storyExist'>
      <ng-include ng-controller="StoryController" ng-if='story.isFinished || story.confirmFinish' src="'/views/component/story-template.html'"></ng-include>
      <ng-include ng-controller="StoryViewOngoingController" ng-if='!(story.isFinished || story.confirmFinish)' src="'/views/component/ongoing-story-template.html'"></ng-include>
    </md-card>

  <div layout="column" flex='25' hide-sm hide-md show-gt-md layout-fill>
    <!-- Side bar for tagging purposes done later-->

    <div class="authorific-always-on-sidebar right-sidebar" layout="column">
    </div>
    
  </div>

</div>
