// bower:js
script(src='../../bower_components/jquery/dist/jquery.js')
script(src='../../bower_components/angular/angular.js')
script(src='../../bower_components/angular-cookies/angular-cookies.js')
script(src='../../bower_components/angular-facebook/lib/angular-facebook.js')
script(src='../../bower_components/angular-img-cropper/dist/angular-img-cropper.min.js')
script(src='../../bower_components/angular-loading-bar/build/loading-bar.js')
script(src='../../bower_components/angular-animate/angular-animate.js')
script(src='../../bower_components/angular-aria/angular-aria.js')
script(src='../../bower_components/angular-material/angular-material.js')
script(src='../../bower_components/angular-mocks/angular-mocks.js')
script(src='../../bower_components/angular-resource/angular-resource.js')
script(src='../../bower_components/angular-route/angular-route.js')
script(src='../../bower_components/angular-sanitize/angular-sanitize.js')
script(src='../../bower_components/angular-svg-round-progressbar/build/roundProgress.min.js')
script(src='../../bower_components/angular-ui-utils/modules/utils.js')
script(src='../../bower_components/lodash/lodash.js')
script(src='../../bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js')
script(src='../../bower_components/typed.js/dist/typed.min.js')
script(src='../../bower_components/ui-router/release/angular-ui-router.js')
// endbower

//Application Init
script(type='text/javascript', src='/js/app.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/AuthorificBackendService.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/MainController.js')
script(type='text/javascript', src='/js/controllers/component/OngoingController.js')
script(type='text/javascript', src='/js/controllers/component/StoryController.js')
script(type='text/javascript', src='/js/controllers/component/CreateController.js')
script(type='text/javascript', src='/js/controllers/component/StoryViewController.js')
script(type='text/javascript', src='/js/controllers/component/StoryViewOngoingController.js')
script(type='text/javascript', src='/js/controllers/component/CropperController.js')

//Application Directives
script(type='text/javascript', src='/js/directives/authorificUserBadge.js')
script(type='text/javascript', src='/js/directives/authorificUserChip.js')
script(type='text/javascript', src='/js/directives/authorificStoryViewExchange.js')
script(type='text/javascript', src='/js/directives/authorificAlwaysOnSidebar.js')
script(type='text/javascript', src='/js/directives/authorificPictureModal.js')

//Application Filters

//Modified libraries
script(type='text/javascript', src='/js/modified/ng-imgur.js')

if (process.env.NODE_ENV == 'development')
    //Livereload script rendered 
    script(type='text/javascript', src='http://localhost:35729/livereload.js')
