head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="authorific, author, writing, story, random")
  meta(name="description", content="Collaborative storytelling with a twist!")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  
  meta(property='fb:app_id', content='669717136462732')
  meta(property='og:title', content='#{appName}')
  meta(property='og:description', content='Collaborative storytelling with a twist!')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://authorific.tk/')
  meta(property='og:image', content='/img/logo.png')
  meta(property='og:site_name', content='Authorific')
  meta(property='fb:admins', content='10152939703946246, 10153586265159640, 10205131711956014, 1052665408085794')

  // bower:css
  link(rel='stylesheet', href='../../bower_components/angular-loading-bar/build/loading-bar.css')
  link(rel='stylesheet', href='../../bower_components/angular-material/angular-material.css')
  link(rel='stylesheet', href='../../bower_components/animate.css/animate.css')
  // endbower

  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='/css/common.css')

  //Custom CSS
  link(rel='stylesheet', href='/css/views/articles.css')
  link(rel='stylesheet', href='/css/layout/main.css')
  link(rel='stylesheet', href='/css/layout/header.css')
  link(rel='stylesheet', href='/css/views/home.css')
  link(rel='stylesheet', href='/css/layout/footer.css')
  link(rel='stylesheet', href='/css/views/ongoing.css')  
  link(rel='stylesheet', href='/css/views/story.css')  
  link(rel='stylesheet', href='/css/views/about.css')  

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
