<md-dialog aria-label="reload-dialog">
  <md-dialog-content>
    <p class="story-font">{{content}}</p>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="accept()" class="story-font">{{acceptText}}</md-button>
    <md-button ng-click="cancel()" class="story-font">{{cancelText}}</md-button>
  </div>
</md-dialog>