<span class='authorific-user-chip' ng-class='colorClass' layout='row' layout-align='start center'>
	<img ng-if='profilePicture' class='authorific-user-chip-picture' ng-src="{{profilePicture}}" alt="{{username}}">
	<span layout='row' layout-align='center center' ng-if='!profilePicture' class='authorific-user-chip-icon'>
  	<i class="fa fa-user"></i>
	</span>
	<span class='authorific-user-chip-name'>{{username ? username : 'Anonymous'}}</span>
</span>