<md-dialog aria-label="share-dialog">
  <form ng-submit="shareStory(shareText[story.id])">
    <md-dialog-content>
      <h1 class="story-font">Share on Facebook</h1>
      <div layout="row" layout-align="start center">
        <p class="story-font">
          <strong>{{story.title}}</strong>
          <br>
          <span ng-repeat="post in story.Posts | limitTo: 2">{{post.content}} </span>...
        </p>
      </div>
      <md-input-container flex class="remove-bottom-padding">
        <label class='small-print-no-black'>Say something about this story...</label>
        <input id="share-text-input" ng-model="shareText[story.id]" class="comment-input story-font" columns="1"></input>
      </md-input-container>
    </md-dialog-content>

    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button class="story-font" type="submit">Share</md-button>
      <md-button ng-click="hideDialog()" class="story-font">Cancel</md-button>
    </div>
  </form>
</md-dialog>