<div layout="row">
	<img ng-if='profilePicture' class='authorific-user-badge-picture' ng-src="{{profilePicture}}" alt="{{username}}">
	<div ng-if='!profilePicture' class='authorific-user-badge-picture'>
		<i class='authorific-anonymous-icon fa fa-user'></i>
	</div>
	<div class="authorific-user-badge-label" layout="column" layout-align="center start">
		<div class='small-print-name'>{{username ? username : 'Anonymous'}}</div>
		<div class='small-print-date' ng-if="status">{{status}}</div>
	</div>
</div>