<md-dialog>
  <md-dialog-content>
    <div layout='column'>
      <div>
        <canvas width="500" height="300" id="canvas" image-cropper image="sourceImage" cropped-image="croppedImage" crop-width="500" crop-height="300" keep-aspect="true" touch-radius="15"></canvas>
      </div>
      <div layout='row' layout-align='end center'>
        <md-button type='button' ng-click='closeDialog()'>Close</md-button>
        <md-button type='button' ng-click='returnImage(croppedImage)'>Crop</md-button>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>