<div class='story-image-container' ng-if='image' ng-mouseenter='showThumbnailOverlay = true' ng-mouseleave='showThumbnailOverlay = false' ng-click='openPictureModal(ev, image);'>
  <img class='story-image-thumbnail' ng-src='{{image}}'>
  <div layout layout-align='end end' ng-if='showThumbnailOverlay' class='thumbnail-overlay'>
    <i class='fa fa-search-plus enlarge-icon'></i>
  </div>
</div>