<md-dialog>
	<md-dialog-content>
		<div layout='column'>
			<img class='story-image border-image' ng-src='{{image}}'>
			<div layout='row'>
				<span flex></span>
				<md-button ng-click='closeDialog()'>Close</md-button>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>