<footer layout="row" layout-sm="column" layout-align-gt-sm='start center' layout-align-sm='center center' hide-sm flex>
	
	<div flex="50">
		<div layout="row">			
		  	<div class="footer-link small-print"><a ui-sref="policy">Privacy Policy </a></div>
		  	<div class="footer-link small-print"><a ui-sref="about">About </a></div>

	  	</div>
	</div>
	<div flex="50" class="footer-copyright small-print">Copyright &copy; 2015 Authorific. All rights reserved.</div>
</footer>