<header id="navbar" layout="row" layout-align='start center' layout-align-sm='space-between center' flex>

  <md-button class="md-icon-button" aria-label="Settings" ng-click="openLeftMenu();" hide-gt-sm>
    <i class='fa fa-bars'></i>
  </md-button>

	<div id="navbar-home-button">Authorific</div>

  <md-tabs flex id="navbar-tabs" md-selected='tabSelected' md-dynamic-height md-stretch-tabs hide-sm>
		<md-tab label="Popular" ui-sref="home({type: 'popular'})"></md-tab>
		<md-tab label="Trending" ui-sref="home({type: 'trending'})"></md-tab>
    <md-tab label="Latest" ui-sref="home({type: 'new'})"></md-tab>
		<md-tab ng-if='userAuthenticated' label="Collaborate" ui-sref="ongoing"></md-tab>
    <md-tab ng-if='userAuthenticated' label="Create" ui-sref="create"></md-tab>
  </md-tabs>

  <!-- Show login button if user is not login -->
  <md-button class="facebook-blue md-no-ink" ng-if="!userAuthenticated" ng-click="facebookLogin()"><i class='fa fa-facebook inverse-facebook'></i>  Sign in</md-button>

  <!-- Show the user profile picture and opens a menu for the user to logout -->
	<md-menu class="remove-additional-padding" md-offset="0 80" ng-if="userAuthenticated">
    <md-button aria-label="Open phone interactions menu" class="md-icon-button center-in-container" ng-click="openMenu($mdOpenMenu, $event)">
      <img ng-src="{{user.facebookInformation.picture.data.url}}" alt="{{user.facebookInformation.name}}">
    </md-button>
    <md-menu-content width="2">
      <md-menu-item>
        <md-button ng-click="facebookLogout()">
          <i class="fa fa-sign-out"></i> Logout
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</header>