<md-sidenav class='side-nav' md-component-id="left" class="md-sidenav-left" md-swipe-left="closeSideNav()">
	<div layout='column' layout-align='start center'>
		<div id="navbar-home-button">Authorific</div>
		<md-button flex ng-if="!userAuthenticated" ng-click="facebookLogin();closeSideNav();">Sign in</md-button>
		<md-button flex ng-click='closeSideNav();'ui-sref="home({type: 'popular'})">Popular</md-button>
		<md-button flex ng-click='closeSideNav();'ui-sref="home({type: 'trending'})">Trending</md-button>
		<md-button flex ng-click='closeSideNav();'ui-sref="home({type: 'new'})">Latest</md-button>
		<md-button flex ng-click='closeSideNav();'ui-sref="ongoing" ng-if="userAuthenticated">Collaborate</md-button>
		<md-divider></md-divider>
		<md-button flex ng-click='closeSideNav();' ng-if="userAuthenticated" ui-sref="create">Create</md-button>
		<md-divider></md-divider>
		<md-button flex ng-click='closeSideNav();'ui-sref="policy" href="#/policy">Privacy Policy </md-button>
		<md-button flex ng-click='closeSideNav();'ui-sref="about" href="#/about">About </md-button>
		<md-button flex ng-if="userAuthenticated" ng-click="facebookLogout();closeSideNav();"><i class="fa fa-sign-out"></i>Logout</md-button>
	</div>
</md-sidenav>