.about {
	z-index: 10;
	width: 100vw;
	color: white;
	font-family: Roboto-Light;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.about-point {
	background: rgba(25, 25, 25, .5);
	vertical-align: middle;
	height: 40vh;
}

.typer {
	text-align: center;
	position: relative;
	padding: 3px;
}

.about-welcome-title {
	text-align: center;
	font-size: 4em;
	font-family: Roboto-Bold, sans-serif;
	margin: 20px 0px 10px 0px;
}

.about-authorific-title {
	font-family: Lobster;
	font-weight: normal;
}

/*.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}*/