.authorific-user-badge-picture {
	width: 35px;
	height: 35px;
	border-radius: 25px;
}

.authorific-anonymous-icon {
	width: 30px;
	height: 30px;
	font-size: 1.8em;
}

.authorific-user-badge-label {
	padding-left: 7px;
}

.authorific-user-chip {
	padding: 3px 3px;
	border-radius: 25px;
}

.authorific-user-chip-picture {
	width: 32px;
	height: 32px;
	border-radius: 25px;
}

.authorific-user-chip-icon {
	width: 32px;
	height: 32px;
	background-color: white;
	border-radius: 25px;
}

.authorific-user-chip-name {
	padding: 0px 8px 0px 6px;
	font-size: 13px;	
	font-family: Roboto-Regular, sans-serif;
	color: black;
}

.padding-right {
	padding-right: 10px;
}

.padding-left {
	padding-left: 10px;
}


.alternate-story-view img, .alternate-story-view-icon {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin: 16px;
}

.coauthor-list-item {
	float: left;
}

.story-title {
	font-size: 1.1em;
	font-family: Roboto-Bold, sans-serif;
	margin: 20px 0px 10px 0px;
}

.story-format {
	margin: 5px 0px 5px 0px;
}

.story-font{
	font-size: 0.8em !important;
	line-height: 25px !important;
	font-family: Merriweather-Regular !important;
	color: black !important;
	word-wrap: break-word;
}

.comment-header{
	font-size: 0.8em !important;
	line-height: 25px !important;
	font-family: Merriweather-Regular !important;
	color: black !important;
	margin-bottom: 0px;
}

.small-print-name {
	font-size: 0.7em;	
	font-family: Roboto-Regular, sans-serif;
	color: black;
}

.small-print-date {
	font-size: 0.7em;	
	font-family: Roboto-Light, sans-serif;
	color: rgba(0, 0, 0, 0.439216);
;
}

.small-print {
	font-size: 0.7em;	
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
	color: black;
}

.small-print-no-black {
	font-size: 0.8em;	
	font-family: Merriweather-Regular;
}

.divider-margin {
	margin: 10px 0px 10px 0px;
}

.comment-badge img{
	width: 40px;
	height: 40px;
}

.comment-textarea {
	width: 100%;
}

.circle {
	position: relative;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  width:130px;
  height:130px;
  border-radius:80px;
  font-size:20px;
  color:#fff;
  text-align:center;
  background:#e3e0cf;
  overflow: hidden;
  cursor: pointer;
}

.inner-circle:hover {
	background-color: #CECECF;
}

.inner-circle {
  width:130px;
  height:130px;
  border-radius:80px;
  font-size:20px;
  color:#000;
  line-height:90px;
  background:#fff;
  outline: 0;
  z-index: 1;
}

.hidden-message {
	position: absolute;
	top: 0px;
	bottom: 0px;
	padding: 0px 7px;
	font-size: 15px;
	color: #3E2723;
}

.circle-icon {
	width: 60px;
}

.action {
	text-align: center;
	font-family: 'Lobster', Serif;
	font-weight: normal;
	font-size: 20px;
}

.red-circle {
	background-color: #E5E5E6;
}

.blue-circle {
	background-color: #E5E5E6;
}

.green-circle {
	background-color: #E5E5E6;	
}

.facebook-blue {
	color: white;
	background-color: #5a74a8 !important;
}

.authorific-title {
	font-family: 'Lobster', Serif;
	font-weight: normal;
}

.inverse-facebook {
	padding: 2px 2px 0px 5px;
	color: #5a74a8;
	background-color: white;
}

.welcome-title {
	font-size: 1.6em;
	font-family: Roboto-Bold, sans-serif;
	margin: 20px 0px 10px 0px;
}

.story-image {
	padding-top: 5px;
  max-width:800px;
  height: auto;
}

.story-image-thumbnail {
  width: auto;
  max-height: 100px;
}

.left-space {
	padding-left: 10px;
}

authorific-user-chip {
	display: inline-block;
	padding-right: 5px;
}

.bold-hot-pink-wow {
	font-weight: bold;
	color: rgb(255, 64, 129);
}