.animate-repeat.ng-move,
.animate-repeat.ng-leave {
  transition:all linear 0.3s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active {
  opacity:1;
}

.story-completion-bar .md-container {
	background-color: rgb(215, 215, 215);
}

.md-toast-error {
	background-color: #F44336;
}

.ongoing-progress-bar {
	padding-bottom: 25px;
}

.authorific-user-icon-picture {
	width: 15px;
	height: 15px;
	border-radius: 25px;
}

.padding-left {
	padding-left: 8px;
}

.progress-wrapper {
	position: relative;
}

.progress-text {
	position: absolute;
	top: 47%;
  bottom: auto;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 12px;
  color: #bbb;
}