.space-at-top {
	padding-top: 10px;
}

.comment-box-shift-up label{
	top: -20px;
}

.comment-box-shift-up textarea{
	position: relative;
	top: -20px;
}

.comment-box-remove-padding {
	padding-bottom: 0px;
}

.add-padding-top {
	padding-top: 10px;
}

.small-margin {
	margin: 10px 0px 10px 0px;
}

.no-padding {
	padding: 0px 0px 0px 0px;
}

.name-tooltip {
	margin-top: -30px;
}

.margin-on-top {
	margin-top: 10px;
}

.social {
	font-size: 0.9em;
	color: rgba(0,0,0,0.54);
	cursor: pointer;
	font-weight: 500;
	padding-right: 10px;
	outline: 0;
}

.social-text {
	font-size: 0.9em;
	color: rgba(0,0,0,0.54);
	font-weight: 500;
	font-family: Roboto-Regular, sans-serif;
	padding-right: 10px;
	outline: 0;
}

.liked-color {
	color: #ff4081;
}

.small-button {
	width: auto !important; 
	height: auto !important;
}

.story-image-container {
	position: relative;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(0,0,0,0.4);
  cursor: pointer;
}

.border-image {
	border-style: solid;
  border-width: 3px;
  border-color: rgba(0,0,0,0.4);
}

.thumbnail-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.enlarge-icon {
	font-size: 1.5em;
}

.padding-around {
	padding: 20px;
}