footer {
	background-color: #FAFAFA;
	height: 5%;
}

footer .md-toolbar {
	background-color: #FAFAFA;
}

.footer-link {
	padding: 10px;
}

.footer-link a {
	text-decoration: none;
	color: inherit;
}

.footer-link a:link {
    text-decoration: none;
    color: inherit;
}

.footer-link a:visited {
    text-decoration: none;
    color: inherit;
}

.footer-link a:hover {
    text-decoration: none;
    color: inherit;
}

.footer-link a:active {
    text-decoration: none;
    color: inherit;
}

.footer-copyright {
	text-align: right;
    color: inherit;	
}