#navbar-home-button {
	margin: 8px 8px 8px 8px;
	font-size: 1.7em;
	font-family: 'Lobster', Serif;
	cursor: default;
	outline:none;
	color:inherit;
  	text-decoration: none;
  	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navbar-tabs, 
#navbar-tabs md-tabs-wrapper, 
#navbar-tabs md-tabs-wrapper md-tabs-canvas,
#navbar-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper,
#navbar-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item
{
	height: 60px;
}

#navbar-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item span {
	line-height: 34px;
}

.remove-additional-padding {
	padding: 0px 0px 0px 0px;
}

.center-in-container {
	top: 4px;
}

.expand-width {
	min-width: 88px !important;
}

md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
    color: rgba(0,0,0,0.54) !important;
}