@font-face {
    font-family: Lobster;
    src: url(/css/fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: Merriweather-Regular;
    src: url(/css/fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(/css/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(/css/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/css/fonts/Roboto-Bold.ttf);
}

.full-body {
	min-height: 100%;
    background-image: url("/img/background-image.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.main-header, .main-footer, .stories-container, .right-sidebar, md-content, md-card{
	background-color: #FAFAFA;
}

.main-header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}

.main-body {
    position: relative;
    top: 50px;
}

.main-footer {
    background-color: #FAFAFA;
	bottom: 0;
    z-index: 10;
}

.main-content {
	padding: 15px 25px 0px 25px;
    /**margin-top: 60px;**/
    padding-left: 0px;
}

.remove-left-padding {
    padding-left: 0px;
}


.stories-container {
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin-bottom: 25px; 
}

.create-container {
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.side-nav {
    width: 250px;
    min-width: 250px;
}