doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body(ng-app='authorific')
    div(class="full-body" ng-controller='MainController')
      div(class='main-header' ng-include="'/views/layout/header.html'" flex)
      div(ng-include="'/views/layout/sidenav.html'")
      div(class="main-body" layout='row' layout-fill)
        div(flex)
          div(class="main-content" ui-view)
      div(class="main-footer" ng-include="'/views/layout/footer.html'" flex)
      block content
    include ../includes/foot
